.intro {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introText {
    text-align: left;
    font-weight: 700;
    background-color: darkslategray;
}

.introPhoto {
    height: 360px;
    width: 300px;
    background-color: #b1e7b1;
    /*background-image: ;*/
    background-position: center;
    background-size: cover;
}