.header {
    border: 1px solid darkslategray;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 30px 10px 10px;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .header {
        justify-content: center;
        padding-right: 10px;
    }
}

@media (max-width: 576px) {

}
