.nav {
    border: 2px solid red;
    width: 300px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nav a {
    text-decoration: none;
}
.nav a:hover {
    background-color: deepskyblue;
    color: blue;
    transition: 0.3s;
}