/*import photo from '../../assets/images/photo.jpg'*/

.intro {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.introText {
    text-align: left;
    font-weight: 700;
    background-color: darkslategray;
}

.introPhoto {
    height: 320px;
    width: 320px;
    background-color: #b1e7b1;
    background-image: url('../../assets/images/photo.jpg');
    background-size: cover;
}
