@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$textColor: #ffffff;
$primaryColor: #ea6549;
$bgFirstColor: rgba(2, 3, 25, 1);
$bgSecondColor: #020312;
$fontFamily: 'Open Sans', sans-serif;
